body {
  max-width: 1140px;
  min-width: 320px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  background: #555;
  margin: auto;
}
ul {
  width: 90%;
  padding: 0;
  margin: auto;
}

li {
  list-style: none;
  background: #fff;
  color: #282828;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

ul>li>span{
  padding: 10px 5px;
  }

ul>li:nth-child(odd) {
  background: #cccccc;
}

ul>li>div {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  flex-basis: 50px;
  flex-shrink: 0;
  background: #cc4242;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
 }

.even{
  background: #ff5353;
}
